<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="container" *ngIf="product">

    <div class="col1">
        <img [src]="product.imageConverted" alt="">
    </div>

    <div class="col2">
        <a href="">{{product.name}}</a>
        <p class="des">{{product.description}}</p>
        <p class="cod">{{product.id}}</p>
        <p class="stock">En Stock</p>
        <div class="cont-ahora">
            <p>ahora</p>
            <p class="price">S/. {{product.price | number:'0.2-2'}}</p>
        </div>
        <div class="cuotas" (click)="openDialog()">
            <p *ngIf="cuotas.length > 0">Págalo en {{cuotas[3].month}} cuotas de <strong>S/ {{cuotas[3].amount | number:
                    '0.2-2'}}</strong></p>
            <p class="simulador">Simulador de cuotas</p>
        </div>

        <button (click)="agregar(product)">Agregar al carrito</button>

    </div>

</div>